hvtowerdetection/.vscode/
hvtowerdetection/.idea/
hvtowerdetection/data/
hvtowerdetection/__pycache__/
hvtowerdetection/train/__pycache__/
hvtowerdetection/train/.ipynb_checkpoints/
hvtowerdetection/train/data/dataset/
hvtowerdetection/train/data/satellite_data/
hvtowerdetection/train/data/annotations/temp/
hvtowerdetection/train/models/
hvtowerdetection/train/archive/
hvtowerdetection/train/results/
hvtowerdetection/test/data/
hvtowerdetection/test/results_hvtowers.zip
hvtowerdetection/test/results/
hvtowerdetection/test/__pycache__/
hvtowerdetection/test/tower/__pycache__/
hvtowerdetection/models/
mvtowerdetection/.vscode/
mvtowerdetection/.idea/
mvtowerdetection/__pycache__/
mvtowerdetection/models/
mvtowerdetection/train/__pycache__/
mvtowerdetection/train/.ipynb_checkpoints/
mvtowerdetection/train/data/src/images
mvtowerdetection/train/data/src/labels
mvtowerdetection/train/data/src/archive
mvtowerdetection/train/data/src/mapillary-vistas-dataset/
mvtowerdetection/train/data/dataset
mvtowerdetection/train/models/
mvtowerdetection/test/__pycache__/
mvtowerdetection/test/results/
pathfinder/__pycache__/
pathfinder/origins.png
pathfinder/output-after_v2.png
pathfinder/output_v2.png
pathfinder/paths_v2_100.kml

