absl-py
gdal
h5py
scipy
setuptools
six
sqlite
affine
attrs
chardet
click
click-plugins
cligj
cycler
cython
decorator
fiona
geopandas
geopy
idna
ipdb
imageio
keras
kiwisolver
matplotlib
munch
networkx
numba
opencv-contrib-python
pillow
pycocotools
pyjwt
pyparsing
pyproj
pysocks
python-dotenv
pywavelets
pyyaml
rasterio
requests
scikit-image
scikit-learn
shapely
simplekml
snuggs
sympy
twilio
urllib3
